* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

main  {
  padding-top: 80px;
}


/* header */


#navbar-container {
position: fixed;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
padding: 0 1em;
}

#navbar-container ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
}

.left-navbar {
  display: flex;
  align-items: center;
  gap: 2em;
}

.right-navbar {
  display: flex;
  gap: 1em;
  align-items: center;
}

/* hover */


#navbar-container li {
  padding: 1.8em 0;
}


#navbar-container li:hover {
  cursor: pointer;
  border-bottom: 4px solid #0061ff;
  border-radius: 4px;
  color: grey;
}
/* /hover */

/* header */

/* buttons */
.btn {
  font-size: 1em;
  padding: 0.6em 1em;
  color: white;
  border: transparent;
}

.btn-blue {
  background-color: #0061ff;
}

.btn-white {
  color: black;
  background-color: white;
}

.btn-border {
  border: 1px solid black;
}

/* /buttons */

/* checkmark */
.checkmark-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* sections */

.centered-header {
  margin: 0 auto;
  max-width: 1200px;
}

.centered-section {
  margin: 0 auto;
  max-width: 1000px;
}

/* first section */


.first-section {
  background-color: #b4d0e7;
}

.first-section h1 {
  padding: 1em 0 0.5em 0;
  font-size: 4em;
}

.first-section-inner {
  display: flex;
  padding-bottom: 1em;
}

.first-section-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 70%;
  gap: 2em;
}

.first-section-text i {
  font-size: 3em;
  padding-top: 0.5em;
}

.first-section-image img {
  margin-bottom: -430px;
  max-width: 100%;
}


/* /first-section */

/* second section */

.second-section {
  padding-top: 8em;
}

.second-section h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.checkmark {
  margin-bottom: 2em;
}

.checkmark span {
  margin-right: 2em;
}

.plan-body {
  padding: 1.5em;
}

.plan-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

/* pro plans */

.plan-container {
  width: 30%;
  flex-grow: 1;
  border: 1px solid #d6d6d9;
  margin-bottom: 2em;
}

.plan-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  padding: 0.5em 0;
  border-bottom: 1px solid #d6d6d9;
}

.plan-price {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 3em;
}

.plan-price h3 {
  font-size: 1.5em;
}

.plan-price span {
  font-weight: 300;
}

.plan-specs {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 3em;
}

.plan-specs-segment {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
}

.plan-body button {
  width: 100%;
  margin-bottom: 3em;
}

.plan-body hr {
  width: 50px;
  margin: 3em 0;
}

.fa-check {
  color: #005eff;
}

.plan-body .subtitle {
  margin-bottom: 2em;
}

/* colonna plan team */

.team-body {
  display: flex;
  padding: 2em;
}

.team-right {
  flex-basis: 30%;
}

.team-right button {
  white-space: nowrap;
  width: 100%;
}

.team-left h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.team-left p {
  margin-top: 3em;
}

/* /colonna plan team */

/* /second section */


/* third section */
.third-section-container {
  display: flex;
  align-items: flex-start;
  margin-top: 6em;
  gap: 4em;
}

.third-section-left img {
  width: 100%;
}

.third-section-right {
  flex-basis: 50%;
  margin-top: 4em;
}

.third-section-right h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.third-section-right p {
  margin-bottom: 1em;
}
/* /third section */


/* fourth-section */

.fourth-section h2 {
  margin-top: 6em;
  font-size: 2em;
  margin-bottom: 2em;
}

.fourth-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.fourth-section-inner {
  width: 30%;
  margin-bottom: 2em;
}

.fourth-section-inner img {
  width: 100%;
}

.fourth-section-inner h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* /fourth-section */

/* fifth section */

.fifth-section {
  margin-top: 6em;
}

.fifth-section h2 {
  margin-top: 5em;
  width: 50%;
  font-size: 2em;
  margin-bottom: 2em;
}

.featured {
  margin-top: 6em;
  display: flex;
}

.featured-left, .featured-right {
  width: calc(100vw / 3);
  height: calc(100vw /3);
  display: flex;
  flex-wrap: wrap;
}

.featured-center {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  height: calc(100vw /3);
  padding: 3em;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.featured-center img{
  width: 40%;
  margin-bottom: 2em;
}

.featured-center hr{
  width: 100px;
  margin-bottom: 2em;
}

.featured-center p{
 margin-bottom: 2em;
}

.featured-center span{
  margin-bottom: 6em;
 }

.featured-square {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-square img {
  width: 50%;
  filter: invert(100%);
}


/* hover */
.featured-square:hover {
  border: 15px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
/* /hover */


.left-top-left {
  background-color: #a2d39b;
  /* border: 15px solid #D1E9CD; */
}

.left-top-right {
  background-color: #61082b;
}

.left-bottom-left {
  background-color: #0093ce;
}

.left-bottom-right {
  background-color: #ff1c1c;
}

.right-top-left {
  background-color: #d5001f;
}

.right-top-right {
  background-color: #b4d0e7;
}

.right-bottom-left {
  background-color: #0d2481;
}

.right-bottom-right {
  background-color: #ffd830;
}

/* /fifth section */

/* sixth-section */

.sixth-section {
  background-color: #b4d0e7;
  margin-bottom: 6em;
}

.sixth-section-container {
  display: flex;
  padding: 6em 0;
  justify-content: space-between;
  align-items: baseline;
}

.sixth-section-left {
  flex-basis: 40%;
}

.sixth-section-left h2 {
  font-size: 2em;
  color: #61082b;
}

.sixth-section-right button {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

/* /sixth-section */

/* faq */
.faq {
  margin-bottom: 6em;
}

.faq h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.faq-container {
  padding: 2em;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
}

.faq-container:nth-child(n+2) {
  margin-top: -1px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hover */
.faq-answer {
  display: none;
}

.faq-container:hover .faq-answer {
  display: flex;
  justify-content: space-between;
}

.faq-container:hover .fa-chevron-down {
  display: none;
}

/* /hover */
/* /faq */

/* footer */
footer {
  background-color: black;
  color: white;
  padding-top: 5em;
}

.centered-footer {
  margin: 0 auto;
  max-width: 1200px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
}

.footer-top h3 {
  margin-bottom: 1.4em;
}

.footer-top ul {
  list-style-type: none;
  font-size: 0.8em;
}

.footer-top li {
  padding-bottom: 0.8em;
}

.footer-bottom {
  padding-bottom: 3em;
  font-size: 0.8em;
}

.footer-bottom hr {
  width: 150px;
  margin-bottom: 3em;
}

.language-selection .fa-earth-americas {
  padding-right: 0.3em;
}

.language-selection .fa-sort-up {
  vertical-align: sub;
}
/* /footer */