* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

main  {
  padding-top: 80px;
}


/* header */


#navbar-container {
position: fixed;
min-height: 80px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
padding: 0 1em;
}

#navbar-container ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
}

.left-navbar {
  display: flex;
  align-items: center;
  gap: 2em;
}

.right-navbar {
  display: flex;
  gap: 1em;
  align-items: center;
}

/* header */

/* buttons */
.btn {
  font-size: 1em;
  padding: 0.6em 1em;
  color: white;
  border: transparent;
}

.btn-blue {
  background-color: #0061ff;
}

/* /buttons */

/* checkmark */
.checkmark-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* sections */

.centered-section {
  margin: 0 auto;
  max-width: 1200px;
}

/* first section */


.first-section {
  background-color: #b4d0e7;
}

.first-section h1 {
  padding: 1em 0 0.5em 0;
  font-size: 4em;
}

.first-section-inner {
  display: flex;
  padding-bottom: 1em;
}

.first-section-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 70%;
  gap: 2em;
}

.first-section-text i {
  font-size: 3em;
  padding-top: 0.5em;
}

.first-section-image img {
  margin-bottom: -430px;
  max-width: 100%;
}


/* /first-section */

/* second section */

.second-section {
  padding-top: 8em;
}

.plan-section {
  display: flex;
  justify-content: space-between;
}

.plan-container {
  width: 30%;
  border: 1px solid black;
}